<div class="center jumbotron">
  <h1>NOUVEAU GOSSIP</h1>
  <div class="container">

    <%= form_for @gossip, url: {action: "create"} do |g| %>
    <h4 class="text-danger" id="error"><%= flash[:error] %></h4>
    <div class="form-group">
      <label>Votre Pseudo :</label><br>
      <%= g.text_field :anonymous_author %><br>
    </div>
    <div class="form-group">
      <label>Votre Gossip :
      </label><br>
      <%= g.text_area :content, size: "50x3" %><br>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Valider</button>
    </div>

  <% end %>

</div>
</div>
