<header class="navbar navbar-fixed-top navbar-inverse">

  <ul class="nav nav-pills flex-column flex-sm-row">
    <li class="flex-sm-fill text-sm-center nav-link">
      <%= link_to "GOSSIP RAILS", '/', id: "logo" %>
    </li>
    <li class="flex-sm-fill text-sm-center nav-link">
      <%= link_to "Index des gossips", gossips_path, class: "btn btn-primary btn-lg" %>
    </li>
    <li class="flex-sm-fill text-sm-center nav-link">
      <%= link_to "Nouveau gossip", new_gossip_path, class: "btn btn-primary btn-lg" %>
    </li>
  </ul>

</header>
